// Variables

$maincolor: black;
$contrastcolor: white;


// Mixins aka presets
@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}


// Header

body {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: space-between;
    a {
        @include white-text-black-bg;
        div {
            margin: 10px;
            font-size: large;
        }
    }
    ul {
        list-style: none;
        display: flex;
        li {
            margin-right: 1.5rem;
            cursor: pointer;
        }
    }
}



